<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS and Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <style>
        /* Custom button styles */
        .btn-custom {
            font-size: 18px;
            padding: 12px 30px;
            width: 250px; /* Increased button width */
            margin: 10px;
            background-color: orange;
            color: white;
            text-align: center;
        }

        /* Decrease size of the graphs */
        svg {
            width: 300px; /* Decreased graph width */
            height: 100px; /* Decreased graph height */
        }
        .logout-btn {
            color: white;
        }
    </style>
</head>
<body>
</head>
<body>
      <!-- Offcanvas Menu Section Begin -->
      <div class="offcanvas-menu-overlay"></div>
      <div class="offcanvas-menu-wrapper">
          <div class="canvas-close">
              <i class="fa fa-close"></i>
          </div>
          <div class="canvas-search search-switch">
              <i class="fa fa-search"></i>
          </div>
          <nav class="canvas-menu mobile-menu">
              <ul>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('support') }}">Support</a></li>

                  <li><a href="#">Profile</a>
                    <ul class="dropdown">
                        <li><a href="{{ url_for('userInfoProfile') }}">Personal Information</a></li>
                        <li><a href="{{ url_for('profilegoal') }}">Fitness Goals</a></li>
                        <li><a href="{{ url_for('profilemetrics') }}">Health Metrics</a></li>
                     </ul>
                 </li>
              </ul>
          </nav>
      </div>
      <!-- Offcanvas Menu Section End -->
  
      <!-- Header Section Begin -->
      <header class="header-section">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="logo">
                          <a href="{{ url_for('home') }}">
                              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <nav class="nav-menu">
                          <ul>
                            <li><a href="{{ url_for('support') }}">Support</a></li>
                            
                         
                            <li><a href="#">Profile</a>
                                <ul class="dropdown">
                                          <li><a href="{{ url_for('userInfoProfile') }}">Personal Information</a></li>
                                          <li><a href="{{ url_for('profilegoal') }}">Fitness Goals</a></li>
                                          <li><a href="{{ url_for('profilemetrics') }}">Health Metrics</a></li>
                                  </ul>
                            </li>
                            <a href="{{ url_for('logout') }}">Logout</a>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="canvas-open">
                  <i class="fa fa-bars"></i>
              </div>
          </div>
      </header>
      <!-- Header End -->
  
  

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{ url_for('static', filename='images/breadcrumb-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Dashboard</h2>
                        <div class="bt-option">
                            <a href="{{ url_for('home') }}">Home</a>
                            <span>Dashboard</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Dashboard Section Begin -->
    <section class="dashboard-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Overview</h4>
                    <p>Fitness Goals: {{ user_goal }}</p>
                    <p>Workouts: 3 workouts per week</p>
                    <p>Nutrition: 1500 calories per day</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <h5>Weight Loss Progress</h5>
                    <!-- D3.js chart container -->
                    <svg id="weightLossChart" width="600" height="400"></svg>
                </div>
                <div class="col-lg-6">
                    <h5>Calories Consumed</h5>
                    <!-- D3.js chart container -->
                    <svg id="caloriesChart" width="600" height="400"></svg>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12 text-center">
                    <a href="{{ url_for('view_meals') }}" class="btn btn-custom">View Meals</a>
                    <a href="{{ url_for('edit_health_metrics') }}" class="btn btn-custom">Update Health Metrics</a>
                    <a href="{{ url_for('update_goals') }}" class="btn btn-custom">Update Goals</a>
                    <a href="{{ url_for('todays_workout') }}" class="btn btn-custom">Your Workout</a>

                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Section End -->

    <!-- Footer Section (from original template) -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <!-- Footer content here -->
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- D3.js Visualization Script -->
    <script>
        // Fetch weight loss data
        fetch('/weight-data')
            .then(response => response.json())
            .then(weightLossData => {
                // Use the same D3 code, but replace the static data with weightLossData
                const svgWeightLoss = d3.select("#weightLossChart"),
                    margin = {top: 20, right: 30, bottom: 40, left: 40},
                    width = +svgWeightLoss.attr("width") - margin.left - margin.right,
                    height = +svgWeightLoss.attr("height") - margin.top - margin.bottom;
    
                const xWeightLoss = d3.scaleBand()
                                    .domain(weightLossData.map(d => d.week))
                                    .range([margin.left, width - margin.right])
                                    .padding(0.1);
    
                const yWeightLoss = d3.scaleLinear()
                                    .domain([0, d3.max(weightLossData, d => d.weight)])
                                    .nice()
                                    .range([height, margin.top]);
    
                svgWeightLoss.append("g")
                    .attr("transform", `translate(0,${height})`)
                    .call(d3.axisBottom(xWeightLoss).tickSizeOuter(0));
    
                svgWeightLoss.append("g")
                    .attr("transform", `translate(${margin.left},0)`)
                    .call(d3.axisLeft(yWeightLoss));
    
                svgWeightLoss.selectAll(".bar")
                    .data(weightLossData)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", d => xWeightLoss(d.week))
                    .attr("y", d => yWeightLoss(d.weight))
                    .attr("width", xWeightLoss.bandwidth())
                    .attr("height", d => height - yWeightLoss(d.weight))
                    .attr("fill", "steelblue");
            });
    
        // Fetch calories data
        fetch('/calories-data')
            .then(response => response.json())
            .then(caloriesData => {
                // Use the same D3 code, but replace the static data with caloriesData
                const svgCalories = d3.select("#caloriesChart"),
                    margin = {top: 20, right: 30, bottom: 40, left: 40},
                    width = +svgCalories.attr("width") - margin.left - margin.right,
                    height = +svgCalories.attr("height") - margin.top - margin.bottom;
    
                const xCalories = d3.scaleBand()
                                    .domain(caloriesData.map(d => d.day))
                                    .range([margin.left, width - margin.right])
                                    .padding(0.1);
    
                const yCalories = d3.scaleLinear()
                                    .domain([0, d3.max(caloriesData, d => d.calories)])
                                    .nice()
                                    .range([height, margin.top]);
    
                svgCalories.append("g")
                    .attr("transform", `translate(0,${height})`)
                    .call(d3.axisBottom(xCalories).tickSizeOuter(0));
    
                svgCalories.append("g")
                    .attr("transform", `translate(${margin.left},0)`)
                    .call(d3.axisLeft(yCalories));
    
                svgCalories.selectAll(".bar")
                    .data(caloriesData)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", d => xCalories(d.day))
                    .attr("y", d => yCalories(d.calories))
                    .attr("width", xCalories.bandwidth())
                    .attr("height", d => height - yCalories(d.calories))
                    .attr("fill", "orange");
            });
    </script>
    
</body>
</html>